// FONTS
$font_primary: 'Bw Nista Grotesk DEMO';
// $font_secondary: 'Brown';
$font_rubik: 'Rubik', sans-serif;
$font_roboto: 'Roboto', sans-serif;

// COLORS
$black: #000000;
$white: #ffffff;

// Main Colors
$purple: #2e005a;
$dark_red: #CE4148;
$color_text: #131313;
$red: #be1310;
$navy_blue: #002a52;

$dark_blue: #2972E0;
$dark_green: #198171;


$soft_blue: #e3f5fd;
$soft_orange: #fbbe95;


// Other Colors
$grey: #767676;
$dark_grey: #232323;


$default-shadow: 0px 9.57191px 31.9064px rgba(84, 150, 179, 0.2);