.sticky-contact-form {
    position: fixed;
    top: 50%;
    right: -300px;
    transform: translateY(-50%);
    width: 300px;
    @include transition(0.4s);
    background: $white;
    z-index: 99;
    @include breakpoint(smaller) {
        width: 255px;
        right: -255px;
    }    

    &.active {
        right: 0;
    }

    .sticky-form-wrap {
        .toggle-button {
            position: absolute;
            height: 48px;
            width: 182px;
            text-align: center;
            cursor: pointer;
            background: $red;
            top: 40%;
            font-weight: 600;
            left: -115px;
            border-radius: 3px 3px 0 0;
            transform: rotate(270deg);
            cursor: pointer;
            color: $white;
            line-height: 45px;
            font-size: 18px;
            z-index: 99;
            text-align: center;
            @include breakpoint(smaller) {
                height: 45px;
                width: 150px;
                font-size: 15px;
                left: -97px;
            }

            span {
                color: $white;
            }
        }

        .form-block {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            @media screen and (max-width: 991px) and (orientation: landscape) {
                height: 100vh;
                overflow: auto;
            }

            h4 {
                background: $navy_blue;
                color: $white;
                padding: 15px 20px;
                text-align: center;
                margin: 0;
                @include breakpoint(smaller) {
                    padding: 10px 15px;
                }
            }

            form {
                padding: 20px;
                height: 350px;
                overflow: auto;
                @media screen and (max-width: 991px) and (orientation: landscape) {
                    height: unset;
                    overflow: unset;
                }

                &::-webkit-scrollbar {
                    width: 4px;
                    background: #cccccc;
                }

                &::-webkit-scrollbar-thumb {
                    background: $red;
                }

                &::-webkit-scrollbar-track {
                    background: #cccccc;
                }

                .row {
                    .col-12 {
                        &:not(:last-child) {
                            margin: 0 0 10px;
                        }

                        input,
                        select,
                        textarea,
                        .form-control {
                            border-color: #cccccc;
                        }

                        textarea {
                            height: 90px;
                        }

                        input[type=submit] {
                            height: 45px;
                            padding: 0 20px;
                            border: 0;

                            &:not(:hover) {
                                background: $red;
                            }
                        }
                    }
                }

                .wpcf7-spinner {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}

.site-footer {
    background: $dark_grey;

    .row {
        .col-md-6 {
            @include breakpoint(medium) {
                margin: 0 0 30px;
            }
        }

        .col-lg-5 {
            @media screen and (max-width: 1199px) and (min-width: 992px) {
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
        }
        .col-md-6 {
            &:nth-child(2) {
                @media screen and (max-width: 1199px) and (min-width: 992px) {
                    flex: 0 0 25%;
                    max-width: 25%;
                }
            }
        }
    }

    .footer-block {
        .contact-info-wrap {
            display: flex;
            margin: 0 -10px;
            @include breakpoint(wide) {
                display: block;
            }

            .contact-info {
                flex: 0 1 50%;
                padding: 0 10px;

                @media screen and (max-width: 1199px) and (min-width: 992px) {
                    flex: 0 1 100%;
                }

                &.usa {
                    @media screen and (min-width: 1200px) {
                        margin-top: 0;
                    }
                }
            }
        }

        h5 {
            color: $white;
            font-weight: 500;
            text-transform: uppercase;
            color: $red;
            margin: 0 0 15px;
        }

        .custom-logo-link {
            display: inline-block;
            margin: 0 0 15px;
        }

        p {
            color: #cccccc;
            font-size: 15px;
            font-weight: 500;
        }

        .links {
            ul {
                li {
                    color: $white;
                    margin: 0 0 10px;

                    a {
                        color: $white;
                        @include transition(0.4s);

                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    }

    .footer-blog {
        ul {
            li {
                &:not(:last-child) {
                    margin: 0 0 10px;
                }

                a {
                    display: block;
                    position: relative;
                    z-index: 0;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 4px;
                        background: $red;
                        @include transition(0.4s);
                        z-index: -1;
                    }

                    .desc {
                        padding: 5px 15px;
                        position: relative;
                        background: rgba($black, 0.1);

                        h6 {
                            color: $white;
                            font-weight: 400;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                            margin: 0 0 7px;
                            padding: 0 0 5px;
                        }

                        span {
                            color: #cccccc;
                            font-size: 15px;
                            @include transition(0.4s);
                        }
                    }

                    &:hover {
                        &:after {
                            width: 100%;
                        }

                        .desc {
                            span {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 20px;

        .logo {
            // a {
            display: block;

            img {
                padding: 0 5px;
                width: 70px;
            }

            // }
        }
    }

    .footer-bottom {
        padding: 30px 0;
        border-top: 1px solid rgba($white, 0.1);
        border-bottom: 1px solid rgba($white, 0.1);

        .bottom-content {
            p {
                color: #cccccc;

                &:last-of-type {
                    margin: 0;
                }

                a {
                    color: $red;
                    font-style: italic;

                    &:hover {
                        text-decoration: underline !important;
                        text-underline-position: under;
                    }
                }
            }
        }
    }

    .footer-copyright {
        padding: 30px 0;

        p {
            color: #cccccc;
            font-size: 13px;
            margin: 0;
        }
    }
}

.contact-info {
    p {
        position: relative;
        padding-left: 27px;
        font-weight: 600;
        color: $white;
        margin: 0 0 10px;
        font-size: 15px;

        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            height: 14px;
            width: 21px;
            background-image: url('../../images/spite-min.png');
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    &.india {
        p {
            &:before {
                background-position: top;
            }

            &:not(:first-of-type) {
                margin-top: 20px;
            }
        }

        ul {}
    }

    &.usa {
        margin-top: 15px;

        p {
            &:before {
                background-position: bottom;
            }
        }
    }

    ul {
        li {
            position: relative;
            padding-left: 27px;
            color: $white;
            font-weight: 500;

            &:not(:last-child) {
                margin: 0 0 10px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
            }

            a {
                color: $white;

                &:hover {
                    text-decoration: underline !important;
                    text-underline-position: under;
                }

                ;
            }

            &.address {
                &:before {
                    background-image: url('../../images/map-marker-red.svg');
                }
            }

            &.phone {
                &:before {
                    background-image: url('../../images/mobile-red.svg');
                }
            }

            &.email {
                &:before {
                    top: 4px;
                    background-image: url('../../images/envelope-red.svg');
                }
            }
        }
    }
}

.social-links {
    &.footer-social {
        ul {
            justify-content: flex-start;

            li {
                list-style: none;

                a {
                    width: 32px;
                    height: 32px;
                    display: block;
                    border: 1px solid #cccccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include transition(0.4s);

                    img,
                    svg {
                        width: 15px;

                        path {
                            fill: #cccccc;
                            @include transition(0.5s);
                        }

                        line,
                        rect {
                            @include transition(0.5s);
                        }
                    }

                    &:hover {
                        background: $red;
                        border-color: $red;
                    }
                }

                // &.skype {
                &:first-child {
                    svg {
                        path {
                            &:nth-child(1) {
                                fill: #cccccc !important;
                            }

                            &:nth-child(2) {
                                fill: $dark_grey !important;
                            }
                        }
                    }
                }

                // &.facebook {
                &:nth-child(2) {
                    svg {
                        height: 15px;
                        width: auto;
                    }
                }

                // &.instagram {
                &:nth-child(3) {
                    svg {

                        rect,
                        path {
                            stroke: #cccccc
                        }

                        path {
                            fill: transparent;
                        }

                        line {
                            color: #cccccc;
                        }
                    }
                }
            }
        }
    }
}

.back-to-top {
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    @include transition(0.4s);
    cursor: pointer;
    mix-blend-mode: difference;

    @include breakpoint(smaller) {
        right: -15px;
        bottom: 50px;
    }

    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .back-to-top-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: row;
        transform: rotate(-90deg);
        flex-direction: row-reverse;

        img,
        svg {
            // transform: rotateZ(90deg);
            transform-origin: center center;
            width: 24px;
            height: 24px;

            path {
                @include transition(0.4s);
                fill: $white;
            }
        }

        span {
            color: $white;
            font-weight: 600;
            display: inline-block;
            padding-right: 10px;
            @include transition(color 0.4s);
        }        
    }
}