.main-navigation {
  @include breakpoint(wide) {
    position: fixed;
    top: 0;
    left: -350px;
    height: 100vh;
    max-height: -webkit-fill-available;
    width: 350px;
    z-index: 10;
    @include transition(0.4s);
    background: $white;
    padding: 133px 38px 40px;
  }  
  @include breakpoint(small) {
    padding-top: 123px;
    width: 100%;
    left: -100%;
  }
  .main-nav-inner {
    overflow: auto;
    height: 100%;
  }
  .menu {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      list-style: none;
      margin-left: -3px;
      &:first-child {
        margin-left: 0;
      }
      @include breakpoint(wide) {
        display: block;
        padding: 0 0 22px;        
        border-bottom: 1px solid $dark_blue;
      }
      &:not(:last-child) {
        margin-right: 30px;
        @media screen and (max-width: 1429px) {
          margin-right: 20px;
        }
        @media screen and (max-width: 1299px) {
          margin-right: 15px;
        }
        @include breakpoint(wide) {
          margin-right: 0;
          margin-left: 0;
          margin: 0 0 30px;
        }
      }
      a {
        font-weight: 700;
        color: $black;
        @include transition(0.4s);
        @media screen and (max-width: 1429px) {
          font-size: 15px;
        }
        @include breakpoint(wide) {
          font-size: 22px;
          line-height: 1;
          color: $red;
          font-weight: 700;
          font-family: $font_secondary;
          position: relative;
          display: block;
        }
        &:after {
          @include breakpoint(wide) {
            content: '';
            position: absolute;
            top: 11px;
            right: 0;
            width: 8px;
            height: 14px;
            background-image: url('../../images/icons/dropdown-arrow-right.svg');
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      &:hover,
      &.current-menu-item {
        > a {
          color: $red;
        }
      }
    }
  }
}
body {
  &.menu-opened {
    overflow: hidden;
    .site-header {
      &.header-sticky {
        height: 100%;
      }
      .header-wrapper {
        .header-right {
          .hamburger-menu {
            span {
              transform-origin: center;
              opacity: 0;
              background: $black;
              &:nth-child(2) {
                transform: rotate(45deg);
                opacity: 1;
              }
              &:nth-child(3) {
                transform: rotate(-45deg);
                opacity: 1;
              }
            }
          }
        }
      }
      .main-navigation {
        left: 0;
      }
    }
  }
}