// Bw Nista Grotesk DEMO
@font-face {
    font-family: 'Bw Nista Grotesk DEMO';
    src: url('../../fonts/BwNistaGroteskDEMO-Bold.woff2') format('woff2'),
        url('../../fonts/BwNistaGroteskDEMO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Nista Grotesk DEMO';
    src: url('../../fonts/BwNistaGroteskDEMO-Regular.woff2') format('woff2'),
        url('../../fonts/BwNistaGroteskDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}